{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
<div class="card w-75">
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-md-8">
                <h3 class="card-title"><a href="{{ .Permalink }}">
                        {{ .Title | markdownify }}
                    </a></h3>
            </div>
            <div class="col-md-4">
                <p class="card-text text-md-right"><small class="text-muted">
                        <time
                            datetime="{{ .Date.Format "2009-01-01T00:00:00Z05:00" }}">{{ .Date.Format $dateFormat }}</time>
                    </small></p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-8">

                <p class="card-text">{{ .Summary }}</p>
                {{ if or (.Params.categories) (.Params.tags) }}
                {{ i18n "postedIn" }} {{ partial "meta-terms.html" . }}
                {{ end }}
            </div>
            <div class="col-md-4 text-md-right">
                <a href="{{ .Permalink }}">Read more...</a>
            </div>
        </div>
    </div>
</div>